<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item navbar-brand-mini-wrapper">
        <a class="nav-link navbar-brand brand-logo-mini" href=""><img src="/assets/images/favicon.png" alt="logo" /></a>
      </li>
        <ng-container *ngFor="let section of quickLinks">
            <li class="nav-item nav-category">
            <span class="nav-link">{{ section.Category }} <br> {{ section.CategoryBreak }}</span>
            </li>
            <li class="nav-item" *ngFor="let item of section.SubCategory" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" [routerLink]="item.path">
                    <span class="menu-title">{{ item.Title }}</span>
                    <i [class]="item.Icon + ' menu-icon'"></i>
                </a>
            </li>
        </ng-container>
    </ul>
  </nav>